body {
  --main-bg-color: #fff;
  --main-font-color: #4a4a4a;
  --second-color: #ccd1cb;
  --third-color: #ff2559;
  --fourth-color: #007c87;
  --fifth-color: #767676;

  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: "Circular", "Trebuchet MS", "Helvetica Neue", sans-serif;
}

.summary {
  padding: 1.5rem 2rem 1rem 2rem;
}

.sum__top {
  padding: 1.5rem 2rem 1rem 2rem;
}
.sum__bottom {
  padding: 1.5rem 2.5rem 1rem 2.5rem;
}

.room__type {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: normal;
}

.room__title {
  font-size: 2.5rem;
  font-weight: bold;
}

.room__city {
  font-size: 1.2rem;

}

.summary__icons {
  width: 5rem;
}

.section {
  /* margin: 0 auto 2rem auto; */
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.toggle-more {
  margin-top: 2rem;
  color: var(--fourth-color);
  cursor: pointer;
}

.highlights {
  border: 1px solid var(--second-color);
}

.highlights__feedback {
  color: var(--fifth-color);
  cursor: pointer;
  margin-top: 1rem;
}

.highlights__helpful:hover{
  color: var(--fourth-color);
  cursor: pointer;
}

.highlights__not-helpful:hover{
  color: var(--fourth-color);
}

.line{
  border-bottom: 1px solid var(--second-color);
  margin-top: 24px;
  margin-bottom: 24px;
}

.--left {
  float: left;
  width: 75%;
}

img {
  border-radius: 50%;
  width: 5rem;

}

.highlights__title {
  font-weight: bold;
  color: var(--fifth-color);
  padding: 1.5rem 2rem 1rem 2rem;
}

.tile {
  border: 1px solid var(--second-color);
  width: 20%;
  margin-left: 2rem;
}

.icons {
  margin-right: 1rem;
}

.tile-image {
  margin-bottom: 2rem;
}

.sleeping__title {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.images {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.bed-detail {
  margin-bottom: 0.5rem;
}

.awesome {
  margin-left: 0.3rem;
}

a:link {
  color:inherit;
  text-decoration: none;
}

.contacts__button {
  margin-top: 0.5rem;
  width: 24rem;
  height: 3rem;
}

.fa-facebook-f {
  background: rgb(69, 104, 178);
  color: white;
}

.fa-google {

}

.fa-envelope-o {
  background: #FF5A5F;
  color: white;
}

.contact__line {
  border-bottom: 1px solid var(--second-color);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 10rem;
}

.__left {
  float: left;
}

.__right {
  margin-right: 14rem;
}

.contact__or {
  margin-right: 1rem;
  margin-top: 2rem;

}

.contact__line--whole {
  border-bottom: 1px solid var(--second-color);
  margin-top: 24px;
  margin-bottom: 24px;
  width: 24rem;
}

.contact__already {
  margin-left: 2rem;
}

.contact {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.contact__inner {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 15%;
  bottom: 15%;
  padding: 1rem 2rem 1rem 2rem;
  background: white;
}

.contact__buttons {
  padding: 3rem 2rem 2rem 2.5rem;

}

.fa-times {
  cursor: pointer;
}